@import 'tailwindcss';

/* 
max-w-xl,36rem,576px
max-w-2xl,42rem,672px
max-w-3xl,48rem,768px
max-w-4xl,56rem,896px
max-w-5xl,64rem,1024px
*/

@theme {
  /* fontes */
  --font-body:
    'Google Sans Flex', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --font-button: 'Google Sans', sans-serif;
  --font-code: 'Ubuntu Mono', monospace;
  /*font sizes*/
  --text-xs: 0.922275em;
  --text-sm: 0.984067em;
  --text-base: 1em;
  --text-lg: 1.12035em;
  --text-h6: 1.12035em;
  --text-h5: 1.195413em;
  --text-h4: 1.275506em;
  --text-h3: 1.360965em;
  --text-h2: 1.45215em;
  --text-h1: 1.549444em;
  --text-big-h1: 1.653256em;
  --text-button: 1em;
  --text-sm-button: 0.9em;
  --text-lg-button: 1.1em;
  /* Cores */
  --color-white: hsl(0 0% 100%);
  --color-background: hsl(210 20% 98%);
  --color-foreground: hsl(215 25% 15%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(215 25% 15%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(215 25% 15%);

  --color-primary: #0b5bcb;
  --color-primary-50: #F2F3FC;
  --color-primary-100: #E5E6F8;
  --color-primary-200: #CBCEF2;
  --color-primary-300: #B1B6EA;
  --color-primary-400: #959FE3;
  --color-primary-500: #7789DC;
  --color-primary-600: #5573D4;
  --color-primary-700: #0B5BCB; /* Sua cor principal */
  --color-primary-800: #0042AC;
  --color-primary-900: #002688;
  --color-primary-950: #001A76;
  --color-primary-1000: #000B65;
  --color-primary-foreground: hsl(220 25% 98%);

  --color-secondary: hsl(215 15% 92%);
  --color-secondary-foreground: hsl(215 25% 15%);

  --color-muted: hsl(215 15% 94%);
  --color-muted-foreground: hsl(215 10% 33%);
  --color-selected: oklch(80.9% 0.105 251.813);
  --color-accent: hsla(215, 90%, 45%, 0.5);
  --color-accent-foreground: hsl(0 0% 100%);

  --color-destructive: hsl(0 80% 45%);
  --color-destructive-foreground: hsl(0, 43%, 93%);

  --color-warn: hsl(38 92% 50%);
  --color-warn-foreground: hsl(215 25% 15%);

  --color-border: hsl(214 20% 88%);
  --color-input: hsl(214 20% 90%);
  --color-ring: #bfdbfe;

  /* Sombras */
  --shadow-xs: 0 1px 2px -1px rgba(0, 0, 0, 0.18);
  --shadow-sm: 0 2px 3px -1.5px rgba(0, 0, 0, 0.18);
  --shadow-md: 0 4px 6px -3px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 12px -6px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0 12px 24px -8px rgba(0, 0, 0, 0.09);

  /* Gradientes */
  --color-start: hsl(215 90% 45%);
  --color-end: hsl(220, 93%, 28%);

  /* Transições */
  --transition-base: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  /* Animações do Accordion */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  /* Breakpoints */
  --breakpoint-smaller-sm: 375px;
  --breakpoint-medium-sm: 425px;
  --breakpoint-pre-sm: 575px;
  --breakpoint-pre-md: 768px;
}

/* Tema Escuro */
.dark {
  --color-background: hsl(215 28% 10%);
  --color-foreground: hsl(210 20% 95%);

  --color-card: hsl(215 25% 12%);
  --color-card-foreground: hsl(210 20% 95%);

  --color-popover: hsl(215 25% 12%);
  --color-popover-foreground: hsl(210 20% 95%);

  --color-primary: hsl(186 62% 55%);
  --color-primary-foreground: hsl(215 28% 10%);

  --color-secondary: hsl(215 20% 18%);
  --color-secondary-foreground: hsl(210 20% 95%);

  --color-muted: hsl(215 20% 16%);
  --color-muted-foreground: hsl(215 15% 40%);

  --color-accent: hsl(186 62% 55%);
  --color-accent-foreground: hsl(215 28% 10%);

  --color-destructive: hsl(0 72% 51%);
  --color-destructive-foreground: hsl(0 0% 100%);

  --color-border: hsl(215 20% 20%);
  --color-input: hsl(215 20% 18%);
  --color-ring: hsl(186 62% 55%);
}

@layer base {
  * {
    @apply border-border;
  }
  div::-webkit-scrollbar-thumb {
    background: oklch(87% 0 0);
    border-radius: 6px;
  }
  div,
  form {
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-200) #ffffff00; /*botão | fundo */
  }
  body {
    @apply font-body text-gray-800 bg-linear-to-br from-[#f9fafb00] to-[#f3f5f7];
  }
  html,
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  p {
    @apply cursor-default;
  }
  button {
    @apply font-button cursor-pointer capitalize flex items-center;
  }
  label {
    @apply text-muted-foreground tracking-normal;
  }
  pre {
    @apply cursor-default bg-background text-foreground rounded-md 
    wrap-break-word py-4 px-5 whitespace-pre-wrap transition-opacity duration-400 font-code overflow-y-scroll;
  }
  textarea {
    @apply bg-background text-foreground pl-3 pt-3 pb-4 
    rounded-md border border-input ring-offset-background placeholder:text-muted-foreground
    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2
    disabled:cursor-not-allowed disabled:opacity-50 w-full h-32 resize-none;
  }
}
